[Unit]
Description=CESMA Scanner Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/nils/cesma_laravel
ExecStart=/usr/bin/php /home/nils/cesma_laravel/app/Helper/NmapClientScan.php

[Install]
WantedBy=multi-user.target
